<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Candal&display=swap" rel="stylesheet">
  <script src="/js/galleria/dist/galleria.js"></script>
  <script src="/js/galleria/dist/plugins/flickr/galleria.flickr.js"></script>
  <title>Girl Scout troop 1690</title>

</head>

<body>
  {{{body}}}
</body>

</html>