<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body id="blog-body">
    <nav id="blog-nav">Blog Page</nav>
    <form id="blog">
        <div id="posted-blogs">
            <h2>new blogs:</h2>
        </div>
        <div id="MemberId"></div>
        <input type="text" placeholder="create a blog post here" id="chatComments">
        <input type="text" placeholder="first name" id="first_name">
        <input type="text" placeholder="last name" id="last_name">
        <button id="submit-chat">Post!</button>
    </form>
    <footer id="blog-footer"></footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/blog.js"></script>
</body>
</html>