<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Calendar Page</h5>
          <iframe src="https://calendar.google.com/calendar/embed?src=scogrils74%40gmail.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          {{#each events}}
         <li>{{summary}}</li>
          {{/each}}
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
