<div id="banner">
  <H1>banner content</H1>

</div>

<div id="content">
  <div class="row">

    <div class="col s4 m4">

      <div class="card large" id="news">
        <div id="news-header">
          <h4>News</h4>
        </div>
      </div>

    </div>


    <div class="col s4 m4">

      <div class="card small" id="small-calendar">
        <iframe src="https://calendar.google.com/calendar/embed?src=scogrils74%40gmail.com&ctz=America%2FChicago"
          style="border: 0" width="400" height="300" frameborder="0" scrolling="no"></iframe>
      </div>


    </div>

    <div class="col s4 m4">

      <div class="card large" id="events">
        <h4 id="events-header">Upcoming Events</h4>
        <div id="list">

          {{#each events}}
          <strong>
            <li class="events-list">{{summary}} {{ moment start.date format="MMMM Do YYYY" }} </li>
          </strong>
          {{/each}}



        </div>
      </div>


    </div>


  </div>



  {{!-- <div class="card large" id="chat"> --}}
    {{!-- <h1>Chat section content</h1>
    <div id="posted-comments"></div>

    <input type="text" id="chatComments" placeholder="create a blog post here">
    <button id="submit-chat" type="submit">post</button> --}}


    

                            
  {{!-- </div> --}}

  <div class="row">
    <div class="col s12 disqus-embed">
<div id="disqus_thread"></div>
    </div>
  </div>





</div>

</div>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = "http://localhost:3000/";  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = 21; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://gs1690.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</body>

</html>