<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Girl Scouts</title>
</head>
<body>
  
<div id="container">
<header>
    <h1>Girl Scout Troop 1690</h1>
</header>
<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center"></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="photos">Photos</a></li>
        <li><a href="calendar">calendar</a></li>
        <li class="active"><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>
<div id="banner">
    
          
        </div>
     

<div id="content">
  <div class="row">

    <div class="col s4 m4">
          
      <div class="card large" id="news">
        <div id="news-header">
          <h4>News</h4>
        </div>
      </div>
                
    </div>
      
      
    <div class="col s4 m4">
            
      <div class="card small" id="blogs">
        <!-- Card Content -->
      </div>
                

    </div>
                  
    <div class="col s4 m4">
            
      <div class="card large" id="events">
        <h4 id="events-header">Upcoming Events</h4>
        <div id="list">
        {{#each events}}
         <strong><li class="events-list">{{summary}} {{start.date}} {{start.dateTime}}</li></strong>
          {{/each}}
        </div>
      </div>
                

    </div>
    

    </div>

</div>


  
  <div class="card large">
    <!-- Card Content -->
  </div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>