<div class="container">



  <div class="row">
    <h2>Login Form</h2>
    <form class="login">
      <div class="logform">
        <label for="exampleInputEmail2">Email address</label>
        <input type="email" class="email2" id="email-input" placeholder="Email">
      </div>
      <div class="logform">
        <label for="pswdInput2">Password</label>
        <input type="password" class="pswd2" id="password-input" placeholder="Password">
      </div>
      <button type="submit" class="logButton">Login</button>
    </form>
    <br />
    <p>Or sign up <a href="/">here</a></p>
  </div>

  
</div>


<script type="text/javascript" src="js/login.js"></script>