<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News</title>
</head>
<body id="blog-body">
    <nav id="blog-nav">News Page</nav>
    <form id="blog">
        
        <div id="MemberId"></div>
        <input type="text" placeholder="create a news post here" id="newsDetail">
        <input type="text" placeholder="title" id="title">
        <input type="text" placeholder="name" id="first_name">
        <input type="date" placeholder="news date" id="newsDate">
        <button id="submit-chat">Post!</button>
    </form>
    <footer id="blog-footer"></footer>
<script src="/js/news.js"></script>
</body>
</html>