<div class="container">
  <div class="row">
    <div class="col s12">

    
    <body>
        <div class="galleria">
          <img src="/images/IMG_4646.JPG">
          <img src="/images/IMG_9056.JPG">
          <img src="/images/file.jpg">
            <img src="/images/girlcamp.jpg">
            <img src="/images/girlcamp1.jpg">
            <img src="/images/girlies.jpg">
        </div>
        <script>
            (function() {
                Galleria.loadTheme('https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/themes/classic/galleria.classic.min.js');
                Galleria.run('.galleria');
            }());
        </script>
    </body>


    </div>
  </div>
</div>