<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Photos Page</h5>
          <p> Insert Photo serving here.          </p>
          <img class="photos-thumbnail" src="/assets/photos/file.jpg">
          <img class="photos-thumbnail" src="/assets/photos/IMG_4646.JPG">
          
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
