<div class="container">
  <div class="row">
    <div class="col s12">



      <div class="galleria">
        <img src="/images/IMG_4646.JPG">
        <img src="/images/IMG_9056.JPG">
        <img src="/images/file.jpg">
        <img src="/images/girlcamp.jpg">
        <img src="/images/girlcamp1.jpg">
        <img src="/images/girlies.jpg">
        <img src="/images/file.jpg">
        <img src="/images/IMG_4646.JPG">
        <img src="/images/IMG_9056.JPG">
        <img src="/images/IMG_0355.JPG">
        <img src="/images/IMG_9136.JPG">
        <img src="/images/IMG_9142.JPG">
        <img src="images/IMG_9166.JPG">
        <img src="/images/IMG_9171.JPG">
        <img src="/images/IMG_9177.JPG">
      </div>

    </div>
  </div>
</div>