<div class="container">
  <div class="row">
    <h2>Sign Up Form</h2>
    <form class="signup">
      <div class="email">
        <label for="email">Email address</label>
        <input type="email" class="emal1" id="email" placeholder="Email">
      </div>
      <div class="username">
        <label for="username">User Name</label>
        <input type="text" class="username" id="username" placeholder="username">
      </div>
      <div class="password">
        <label for="password">Password</label>
        <input type="password" class="pswd1" id="password" placeholder="Password">
      </div>

      <button type="submit" class="sbutton">Sign Up</button>
    </form>
    <br />
    <p>Or log in <a href="/login">here</a></p>
  </div>
</div>



<script type="text/javascript" src="js/signup.js"></script>