#events-header{
    text-align: center;
    background-color: cornsilk;
    padding: 0;
}

#events{
    background-image: url("../images/girlies.jpg");
    display: flex;
    flex-direction: column;
    flex-flow: flex-start;
    justify-content: center;
}

.events-list{
    text-align: center;
    font-size: large;
    
}

#list{
    overflow: auto;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center;
    background-color: cornsilk;
    width: fit-content;
    height: 70%;
    text-align: center;
}