#events-header{
    text-align: center;
    background-color: darkseagreen;
    padding: 0;
    box-shadow: 1px black;
    border:  1px solid sienna;

}

#events{
    background-image: url("../images/moreTrees.jpg");
    display: flex;
    flex-direction: column;
    flex-flow: flex-start;
    justify-content: flex-start;
}

.events-list{
    text-align: center;
    font-size: large;
    line-height: 55px;
    
}

#list{
    overflow: auto;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    background-color: darkseagreen;
    width: fit-content;
    height: 70%;
    text-align: center;
    border:  1px solid sienna;
    box-shadow: 1px 1px 1px black;

}

.galleria{ width:  900px; height: 400px; background: #000 }