.box{
  border: 1px solid black;
}

#events-header{
    text-align: center;
    background-color: darkseagreen;
    padding: 0;
    box-shadow: 1px black;
    border:  1px solid sienna;

}

#events{
    background-image: url("../images/moreTrees.jpg");
    display: flex;
    flex-direction: column;
    flex-flow: flex-start;
    justify-content: flex-start;
}

.events-list{
    text-align: center;
    font-size: large;
    line-height: 55px;
    
}

#list{
    overflow: auto;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: center;
    background-color: darkseagreen;
    width: fit-content;
    height: 70%;
    text-align: center;
    border:  1px solid sienna;
    box-shadow: 1px 1px 1px black;

}

#blog{
    display: flex;
    flex-direction: column;
    flex-flow: flex-start;
    align-items: center;
    text-align: center;
}

#posted-blogs{
    width: 1100px;
    height: 500px;
    background-color: lightyellow;
    background-image: url('../images/herringbone.png');
    margin: 15px;
    border: 3px solid sandybrown;
    font-size: x-large;
}

#blog-nav{
    text-align: center;
    background-color: #00ae58;
    font-size: larger;
}

#newsDetail{
    width: 900px;
    height: 300px;
    background-color: #00ae58;
    margin: 20px;
    border: 3px solid sandybrown;
    text-align: center;
}

#blog-body{
    background-image: url('../images/camping.jpg');
    background-repeat: round;
    background-position: center;
}

#blog-footer{
    background-color:#00ae58;
    height: 100px;
}

#submit-chat{
    margin: 10px;
    width: 100px;
    height: 30px;
    background-color: #00ae58;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 1px black;
}

#first_name, #last_name, #title, #newsDate {
    width: 900px;
    height: 40px;
    margin: 0;
    background-color: #00ae58;
    border: 3px solid sandybrown;
    text-align: center;
}

.list-group-item {
  line-height: 2.5;
}


header {
  height: 150px;
 background-image: url("../images/trees.jpg");
  width: 100%;
  margin-top: -40px;
  font-family: 'Candal', sans-serif;
  text-shadow: 1px 1px 2px black, 0 0 25px rgb(45, 126, 13), 0 0 5px rgb(19, 102, 23);
  font-size: 190px;
}

.nav-wrapper {
  background-color: #00ae58;
}

.page-footer{
    background-color: #00ae58;
}

#banner {
  height: 300px;
  background-color: #00ae58;
 
  background-position: center;
  background-repeat:no-repeat ;
}

#content {
  background-color: #00ae58;
} 

h1 {
  /* margin-left: 500px; */
}
 
.galleria{ width:  900px; height: 400px; background:white; }

#news{
  text-align: center;
  background-color: mintcream;
  line-height: 15px;
  text-emphasis: bolder;
  overflow: scroll;
  clear: both;
}

.news-div{
  margin: 10px;
  background-color: #00ae58;
  border: solid 1px darkolivegreen;
}

#news-header{
  background: peru;
}

#chatComments{
  text-align: center;
  display: flex;
  align-self: center;
  width: 400px;
  height: 180px;
  border: 1px solid black;
  background-color: whitesmoke;
}

::placeholder{
  color: black;
}

#chat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/herringbone.png');
  padding: 0;
  margin: 0;
}

.comments{
  width: 600px;
  background-color: rgb(181, 219, 181);
  margin: 5px;
  text-align: center;
  border: 1px solid sienna;
}

#posted-comments{
  overflow: auto;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 800px;
  height: 900px;
  margin: 15px;
  box-shadow: 1px 1px 1px black;
}

.reply{
  background-color: rgb(226, 226, 116);
  border: 1px solid black;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: flex-start;
  margin-left: 100px;
}

.replyInput{
  background-color: cornflowerblue;
  width: 200px;
}


.carousel{
  height:200px;
}